*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}

body{
  font-family: arial, sans-serif;
  margin: 0;
}


.head{
  height: 10%;
    background-color: rgba(221, 208, 148, 0.83);
    background-size: cover;
    width: 100%;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}



.content:{
    flex: 1 1 auto;
}
.header-inner{
    display: flex;
    justify-content: space-between;
}
.L{
    color: rgb(255, 255, 255);
    font-size: 21px;
    width: 30%;
    margin: 0 ;
    padding: 25px 0 4px 50px;
}
.navigation{ font-weight: 250;
  font-size: 21px;
  display: flex;
  justify-content: center;
  padding: 5px 50px 4px 35px;
  margin: 0;
}

.nav_link{
  display: inline-block;
  margin: 20px 36px 0 36px;
  color: rgb(255, 255, 255);
text-decoration: none;
font-weight: bolder;
position: relative;
}
.nav_link:hover{
  color: rgb(255, 255, 255);
  text-decoration: underline;
  height: 10px;
}
.wrapper{
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.b1{
  padding:38px 0 30px;
}
.container{
  max-width: 100%;
  margin:0 auto;
}

@media (max-width:1200px) {
.container{
  max-width: 970px;
}
}
@media (max-width:992px) {
.container{
  max-width: 750px;
}
}
@media (max-width:767px) {
.container{
  max-width: none;
}
}
.title1{text-align: center;
  font-size: 41px;
  margin: 0 0 38px 0;
  text-shadow: 2px 3px 1px rgba(49, 55, 50, 0.62);
  font-style: oblique;}
.b1_row{display: flex;
flex: 0 1 33.333%;
padding: 0 0 0 35px;
}
.block1{padding: 0 8px;

margin: 0 auto 20px;
width: 90%;}
.block1.1{
  display: flex;

  width: 100%;
  height: 80%;
}
.image{width: 90%;
height: 90%;
}
.img{
  height: 100%;
  width: 100%;
}
.text1{width: 90%;
padding: 15px 0;}


.b2{
  padding:50px 0 30px;
}
.b2_row{display: flex;
flex: 0 1 50%;
margin: 0 auto;
}
.block2{
margin: 0 auto;
width: 80%;
display: flex;
}
.block2_1{display: flex;
  flex-direction: column;
width: 80%;

}
.image2{width: 80%;
  height: 80%;
  margin: 0 auto;

}
.img2{width: 100%;
  height: 100%;

}
.text2{
  width: 80%;
margin: 0 auto;
padding: 15px 0;
}

.footer{ height: 10%;
  background-color: rgba(221, 208, 148, 0.83);
  background-size: cover;
  width: 100%;


}
.footer__row{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}
.footer__text{
  font-size: 30px;
  font-style: oblique;
  margin: 0 auto;
  padding: 20px 0;
}
